.addCourseForm{
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 50vw;
    background: rgba(105,202,255,0.9);
}

.addCourseContainer {
    height: 100vh;
}

.labelContainer {
    margin-bottom: 15px;
}

.labelStyles {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
}

.datePickerStyle {
    margin: 10px;
}

input {
    padding: 5px 5px;
    margin: 10px;
    border-radius: 5px;
}

.studentList {
    margin: 15px auto;
    width: 22vw;
}

.studentListLabel {
    background: rgba(0,0,0,0.5);
}

.addStudentButton {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.addStudentButton:hover {
    background: rgba(0,0,255, 0.3);
    letter-spacing: 2px;
}

.elo {
    clear:both;
}