.gridContainer {
    background: rgba(38, 121, 255, 0.99);
    width: 50vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 0;
}

.activityButton {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.activityButton:hover {
    background: rgba(0, 0, 255, 0.3);
    letter-spacing: 2px;
}

@media screen and (max-width: 500px ) {
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        width: 100%;
        margin: 20px auto;
        justify-items: center;
        align-items: center;
        padding: 20px 0;
    }

    .activityButton {
        margin-bottom: 5px;
    }
}