.gridContainer {
    background: rgba(38, 121, 255, 0.99);
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.gridContainer > div {
    width: 100%;
}

.fixedWidth {
    width: 80%;
}

.activityButton {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.activityButton:hover {
    background: rgba(0, 0, 255, 0.3);
    letter-spacing: 2px;
}

@media screen and (max-width: 750px ) {
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 80%;
        margin: 20px auto;
        justify-content: center;
        align-content: center;
        padding: 20px 0;

    }

    .gridContainer > div {
        text-align: center;
        width: 70%;
    }

    .activityButton {
        margin-bottom: 5px;
        width: 70%;
    }
}