.addCourseContainer {
    margin: 40px auto;
}

.addCourseFormContainer {
    margin: 10px auto;
    width: 50vw;
    height: 60vh;
    background: rgba(105, 202, 255, 0.9);
}

.addCourseForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.addCourseForm .displayData > input {
    border-radius: 5px;
}

.displayData {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.datePickerStyle {
    align-items: center;
}

.labelStyles {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
}

.addStudentButton {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.addStudentButton:hover {
    background: rgba(0, 0, 255, 0.3);
    letter-spacing: 2px;
}

.clearBoth {
    clear: both;
}

@media screen and (max-width: 420px) {
    .addCourseFormContainer {
        width: 70vw;
        height: 100vh;
        background: rgba(105, 202, 255, 0.9);
    }

    .clearBoth {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 5px;
    }

    .addStudentButton {
        margin: 5px;
    }
}

@media screen and (max-height: 700px) {

}