.EntryPoint {
    margin: 0 auto;
    width: 50vw;
    padding: 20px;
}

p {
    text-align: justify;
}

p > a { color: lime }

button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition-duration: 0.5s;
    margin: 0 10px;
}

button:hover {
    background: rgba(0,0,255, 0.3);
    letter-spacing: 2px;
}

@media only screen and (max-width:500px){

    .entryButtonDiv {
        display: flex;
        flex-direction: column;
    }

    .entryButtonDiv button {
        padding: 4px 8px;
        margin-bottom: 10px;
    }
}