.background {
    background: rgb(38, 121, 255);
    margin: 35px auto;
    width: 100%;
    border-radius: 5px;
}

.GridTableHeader {
    width: 100%;
    padding: 15px 0;
}

.GridTableHeaderChild {
    display: grid;
    grid-template-columns: 12rem repeat(2, 1fr) 10rem repeat(4, 1fr);
    width: 100%;
    place-items: center;
    place-content: center;
    padding: 5px 0;
}

.GridTableBody {
    display: grid;
    min-width: 200px;
}

.GridTableChild {
    display: grid;
    width: 100%;
    grid-template-columns: 12rem repeat(2, 1fr) 10rem repeat(4, 1fr);
    place-items: center;
    place-content: center;
    margin-bottom: 10px;
}

.GridTableChild > div {
    padding: 5px;
}

.buttonStyle {
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.buttonStyle:hover {
    background: rgba(0, 0, 255, 0.3);
    letter-spacing: 2px;
}

@media screen and (max-width: 900px) {
    .background {
        margin: 35px auto;
        border-radius: 5px;
        display: inline-block;
    }

    .GridTableHeader {
        padding: 0;
    }

    .GridTableParent {
        background: rgb(38, 121, 255);
        display: grid;
        grid-template-columns: 200px 200px;
        grid-auto-flow: column;
        height: 100%;
        width: 100vw;
        padding-right:30px;
    }

    .GridTableHeaderChild {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        height: 100%;
    }

    .GridTableChild {
        display: grid;
        border: 1px solid red;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        height: 100%;
    }
}