.background {
    background: rgb(38, 121, 255);
    margin: 5px auto;
    width: 95vw;
}

.GridTableHeader {
    margin: 5px;
}

.GridTableParent {
    display: grid;
    justify-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.GridTableChild {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-columns: 250px 180px 200px 300px 250px 200px 200px;*/
    justify-items: center;
    align-items: center;
    margin-bottom: 5px;
}

.buttonStyle {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.buttonStyle:hover {
    background: rgba(0,0,255, 0.3);
    letter-spacing: 2px;
}

@media screen and (max-width: 500px){
    .GridTableParent {
        display: grid;
        justify-items: center;
        height: 100%;
    }

    .GridTableChild {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 10px;
    }
}