.background {
    background: rgb(38, 121, 255);
    margin: 35px auto;
    width: 100%;
    border-radius: 5px;
}

.GridTableHeader {
    width: 100%;
}

.GridTableHeaderChild {
    display: grid;
    grid-template-columns: 12rem repeat(2, 1fr) 10rem repeat(4, 1fr);
    width: 100%;
    place-items: center;
    place-content: center;
    padding: 5px 0;
}

.gradesShowColumn {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.GridTableBody {
    display: grid;
    width: 100%;
}

.GridTableChild {
    display: grid;
    width: 100%;
    grid-template-columns: 12rem repeat(2, 1fr) 10rem repeat(4, 1fr);
    place-items: center;
    place-content: center;
    margin-bottom: 10px;
}

.GridTableChild > div {
    padding: 5px;
}

.buttonStyle {
    background: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.buttonStyle:hover {
    background: rgba(0, 0, 255, 0.3);
    letter-spacing: 2px;
}

@media screen and (max-width: 900px) {
    .GridTableParent {
        display: grid;
        grid-template-columns: 200px 1fr 1fr;
        height: 100%;
    }

    .GridTableHeaderChild {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        align-content: center;
        justify-content: center;
        height: 100%;
    }

    .GridTableChild {
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        align-content: center;
        justify-content: center;
        height: 100%;
    }

    .gradesShowColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
}