.Home {
    background: grey;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home.container {
    height:0px;
    background: aqua;
    width: 450px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text p {
    padding: 0 15px;
}