.loginContainer {
    margin: 0 auto;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: rgba(38, 71, 255, 0.7);
    height: 30vh;
    width: 30vw;
    padding: 20px 20px 20px 50px;

}

.loginLabelInput {
    display: grid;
    grid-template-columns: 40px 250px;
    justify-items: center;
    align-items: center;
}

.button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition-duration: 0.5s;
    width: 90%;
}

.button:hover {
    background: rgba(0, 0, 255, 0.3);
    letter-spacing: 2px;
}

@media screen and (max-width: 820px ) {
    .loginLabelInput {
        display: grid;
        grid-template-columns: 40px 150px;
        justify-items: center;
        align-items: center;
    }

    .loginLabelElement {
        width: 80px;
    }

    .loginInputElement {
        width: 130px;
    }
}

@media screen and (max-height: 700px) {
}

@media screen and (max-width: 600px ) {
    .loginLabelInput {
        display: grid;
        grid-template-columns: 120px;
        grid-template-rows: 10px 45px;
        align-content: center;
        justify-content: center;
        padding-right: 30px;
        margin-top: 5px;
    }

    .loginLabelElement {
        margin-top: 5px;
    }

}