.teacherContainer {
    margin: auto;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.teacherForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    background: rgba(38, 71, 255, 0.7);
    padding: 10px 50px 0 50px;
}

.teacherLabelInput {
    display: grid;
    grid-template-columns: 100px 230px;
    justify-items: center;
    align-items: center;
}

.button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition-duration: 0.5s;
}

.button:hover {
    background: rgba(0, 0, 255, 0.3);
    letter-spacing: 2px;
}

@media screen and (max-width: 700px) {
    .teacherForm {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .teacherLabelInput {
        display: grid;
        grid-template-columns: 150px;
        border: 1px solid red;
        grid-template-rows: 15px 30px;
        justify-items: center;
        align-items: center;
        padding: 5px;
    }

    .teacherLabelElement {
        margin: 30px;
    }


    .teacherInputElement {
        width: 80%;
    }
}