.students {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid red;
    height: 25vh;
    width: 15vw;
}

.students .studentInput > input {
    width: 100%;
    border-radius: 5px;
}

/*.students {*/
/*    margin: 15px 0;*/
/*    border-radius: 5px;*/
/*    */
/*    height: 180px;*/
/*    width: auto;*/
/*}*/

/*.studentLabel {*/
/*    display: inline-block;*/
/*    float: left;*/
/*    clear: left;*/
/*    width: 6vw;*/
/*    text-align: center;*/
/*    padding: 20px 0;*/
/*    font-size: 18px;*/
/*}*/

/*.studentInput {*/
/*    display: inline-block;*/
/*    float: left;*/
/*    padding: 5px 0;*/
/*    width: 40%;*/
/*    border-radius: 5px;*/
/*}*/